In [1]:
# import packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
home_invasion_officers = pd.read_csv("home_invasion_officers.csv")
non_home_invasion_officers = pd.read_csv("non_home_invasion_officers.csv")
home_invasion_officers["home_invasion"] = 1
home_invasion_officers

,officer_id,gender,race,appointed_date,rank,active,birth_year,civilian_allegation_percentile,honorable_mention_count,internal_allegation_percentile,trr_count,allegation_count,sustained_count,civilian_compliment_count,current_badge,discipline_count,major_award_count,unsustained_count,home_invasion
0,12554,M,White,1989-02-14,Sergeant of Police,No,1959,76.0564,15,83.9745,7,26,1,3,2545.0,1,2,11,1
1,21713,M,White,1991-12-02,Police Officer,Yes,1969,57.7487,10,0.0000,1,21,2,7,8467.0,2,0,12,1
2,24736,M,Black,2006-08-28,Police Officer,Yes,1980,87.0789,9,91.6384,20,13,0,1,15146.0,0,0,4,1
3,8355,M,White,2012-10-31,Police Officer,Yes,1986,98.5998,52,0.0000,12,15,0,1,15220.0,0,0,1,1
4,1772,M,White,2002-03-25,Police Officer as Detective,Yes,1976,39.9143,5,0.0000,1,3,0,4,20807.0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10234,30336,M,White,2003-08-25,Police Officer,Yes,1967,82.9729,41,74.4170,18,13,1,3,15469.0,1,0,4,1
10235,6692,F,Hispanic,1982-08-30,Captain of Police,No,1960,34.6162,3,93.7081,0,15,1,3,31.0,0,0,9,1
10236,32388,M,White,2000-09-11,Sergeant of Police,Unknown,1976,76.8238,45,0.0000,5,12,0,6,1426.0,0,0,5,1
10237,2536,F,White,1994-05-02,Police Officer,No,1950,53.0197,3,79.9133,4,12,4,7,3748.0,4,0,6,1
10238,21596,M,White,2005-08-29,Police Officer,Yes,1975,90.0887,102,0.0000,29,15,0,7,6964.0,0,1,5,1

In [3]:
non_home_invasion_officers["home_invasion"] = 0
non_home_invasion_officers

,officer_id,gender,race,appointed_date,rank,active,birth_year,civilian_allegation_percentile,honorable_mention_count,internal_allegation_percentile,trr_count,allegation_count,sustained_count,civilian_compliment_count,current_badge,discipline_count,major_award_count,unsustained_count,home_invasion
0,1,M,White,2005-09-26,Sergeant of Police,Yes,1971,61.2069,61,76.9384,7,6,0,4,1424.0,0,0,0,0
1,2,F,Hispanic,2005-09-26,Police Officer,Yes,1980,76.4252,71,0.0000,4,8,0,2,20373.0,0,0,2,0
2,4,M,White,1969-01-06,Police Officer as Detective,No,1942,58.8524,0,0.0000,0,7,0,1,NaN,0,0,2,0
3,6,M,White,1994-12-05,Police Officer,No,1968,38.7292,2,89.6420,2,6,2,0,18601.0,0,0,2,0
4,7,M,White,1995-12-04,Police Officer,Yes,1972,41.5139,9,61.1521,5,8,0,3,19596.0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16287,33845,F,Black,NaN,NaN,Unknown,1983,NaN,0,NaN,0,1,0,0,NaN,0,0,0,0
16288,33846,M,Hispanic,NaN,NaN,Unknown,1970,NaN,0,NaN,0,1,0,0,NaN,0,0,1,0
16289,33847,F,White,NaN,NaN,Unknown,1963,NaN,0,NaN,0,1,0,0,NaN,0,0,1,0
16290,33848,M,White,NaN,NaN,Unknown,1966,NaN,0,NaN,0,1,0,0,NaN,0,0,0,0
16291,33849,F,Hispanic,NaN,NaN,Unknown,1960,NaN,0,NaN,0,1,0,0,NaN,0,0,0,0

In [4]:
frames = [home_invasion_officers, non_home_invasion_officers]
officers = pd.concat(frames)
officers

,officer_id,gender,race,appointed_date,rank,active,birth_year,civilian_allegation_percentile,honorable_mention_count,internal_allegation_percentile,trr_count,allegation_count,sustained_count,civilian_compliment_count,current_badge,discipline_count,major_award_count,unsustained_count,home_invasion
0,12554,M,White,1989-02-14,Sergeant of Police,No,1959,76.0564,15,83.9745,7,26,1,3,2545.0,1,2,11,1
1,21713,M,White,1991-12-02,Police Officer,Yes,1969,57.7487,10,0.0000,1,21,2,7,8467.0,2,0,12,1
2,24736,M,Black,2006-08-28,Police Officer,Yes,1980,87.0789,9,91.6384,20,13,0,1,15146.0,0,0,4,1
3,8355,M,White,2012-10-31,Police Officer,Yes,1986,98.5998,52,0.0000,12,15,0,1,15220.0,0,0,1,1
4,1772,M,White,2002-03-25,Police Officer as Detective,Yes,1976,39.9143,5,0.0000,1,3,0,4,20807.0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16287,33845,F,Black,NaN,NaN,Unknown,1983,NaN,0,NaN,0,1,0,0,NaN,0,0,0,0
16288,33846,M,Hispanic,NaN,NaN,Unknown,1970,NaN,0,NaN,0,1,0,0,NaN,0,0,1,0
16289,33847,F,White,NaN,NaN,Unknown,1963,NaN,0,NaN,0,1,0,0,NaN,0,0,1,0
16290,33848,M,White,NaN,NaN,Unknown,1966,NaN,0,NaN,0,1,0,0,NaN,0,0,0,0
16291,33849,F,Hispanic,NaN,NaN,Unknown,1960,NaN,0,NaN,0,1,0,0,NaN,0,0,0,0